block variables
include common/_mixins

doctype html
html
    head
        include common/_head

    body.body.body_central-content
        .layout
            block content

        footer.footer.index-footer
            | &copy; Виталик Суханов | создано с любовью в LoftSchool | 2017


    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)