block variables

doctype html
html
    head
        include common/_head

    body.body
        main.index.central-content
            a.fixed-btn.login-btn(href="#") Авторизироваться
            .center-block
                .first-info
                    .ava
                        img.ava-img(src="assets/img/ava.png")
                    .first-info__title
                        | Виталик Суханов
                    .first-info__descr
                        | Личный сайт веб разработчика
                    .socials
                        a.social.social_vk(href="#")
                            svg.social__icon
                                use(xlink:href="assets/img/sprite.svg#vk")
                        a.social.social_git(href="#")
                            svg.social__icon
                                use(xlink:href="assets/img/sprite.svg#github")
                        a.social.social_in(href="#")
                            svg.social__icon
                                use(xlink:href="assets/img/sprite.svg#in")
                nav.nav-index
                    a.nav-index__link(href="#") Мои работы
                    a.nav-index__link(href="#") Обо мне
                    a.nav-index__link(href="#") Блог

        footer.footer.index-footer
            | &copy; Виталик Суханов | создано с любовью в LoftSchool | 2017


    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)