block variables
include components/_mixins

doctype html
html
    head
        include components/head

    body.body(class=`body_${page}`)
        .layout
            block content

        footer.footer
            include components/footer