block variables
include components/_mixins

doctype html
html
  head
    include components/head

  body.body.body_welcome
    .parallax-mouse
      .parallax-mouse__layer
        img(src="assets/img/water.jpg" alt="img")
    .layout
      block content

    footer.footer.footer_welcome
      include components/footer-bottom