block variables
include components/_mixins

doctype html
html
  head
    include components/head

  body.body.body_welcome
    .waterWebgl-container
      .Background
        canvas.Background-canvas

    .layout
      block content

    footer.footer.footer_welcome
      include components/footer-bottom