block variables
include components/_mixins

doctype html
html
  head
    include components/head

  body.body.body_welcome
    .waterWebgl-container
      .Background
        canvas.Background-canvas
      script(src='assets/js/water.js' defer)
    .layout
      block content

    footer.footer.footer_welcome
      include components/footer-bottom

    .preloader
      .preloader__spinner
        .preloader__animation
        .preloader__percents 0%