*{
  box-sizing: border-box;
  &:before,&:after{
    box-sizing: border-box;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html{
  font-size: 16px;
  color: $textColor;
  font-family:"robotoregular", sans-serif;
}

.layout {
  min-height: 100%;
}

.footer {
  min-height: $footerHeight;
  position: relative;
  margin-top: -$footerHeight;
}
.wrapper{
  max-width: 1800px;
  margin:0 auto;
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  color: $textColorAccent;
  font-family:"sansus_webissimoregular";
  font-weight: normal;
  font-style: normal;
}
a{
  color: $linkColor;
  @include trans();
  &:hover{
    text-decoration: none;
  }
}
img{
  max-width: 100%;
}
strong,b{
  font-family:"robotomedium";
  font-weight: normal;
  font-style: normal;
}
i,em{
  font-family:"robotobold_italic";
  font-weight: normal;
  font-style: normal;
}


