@charset "UTF-8";

@import "fonts";
@import "basic";



//VARS
$color: #6c9c5a;
$colorAccent: #4e8839;
$textColor: #566358;
$textColorAccent: #373e42;
$textColorInvert: #fff;
$linkColor: #6da3bd;
$errorColor: #e34844;
$transition: all .3s ease;
$titleSize: 63px;
$subTtitleSize: 35px;
$textSize: 16px;


//MIXINS

@mixin align( $axis ){
  @if($axis == X){
    left: 50%;
    transform: translateX(-50%);
  }
  @if($axis == Y){
    top: 50%;
    transform: translateY(-50%);
  }
  @if($axis == XY){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin fz ($size) {
  font-size: calculateRem($size);
}


@mixin trans ($transition: all .2s linear){
  transition: $transition;
}

@function circle($r, $percent) {
  $dasharray: 2 * 3.1415 * $r;
  $dashoffset: $dasharray * $percent;
  @return $dashoffset, $dasharray;
}

@mixin circle ($r, $percent) {
  stroke-dasharray: circle($r, $percent);
  opacity:$percent;
}

//PLACEHOLDERS

%likeForm {
  width: 100%;
  max-width: 380px;
  padding: 40px 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

%vhc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%vc {
  top: 50%;
  transform: translateY(-50%);
}

%hc {
  left: 50%;
  transform: translateX(-50%);
}

%ibm {
  display: inline-block;
  vertical-align: middle;
}

%reset{
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  outline: none;
  text-decoration: none;
}




@import "components/**/*.scss";