.contacts
  .block-title
    | Контакты

  ul.contacts-list
    li.contacts-list__item
      a(href="tel:#" target="_blank").contacts-list__link
        + svg('contacts-list__icon','skype')
        |cvthicvthi

    li.contacts-list__item
      a(href="mailto:#" target="_blank").contacts-list__link
        + svg('contacts-list__icon','mail')
        |mastersnov@email.ua

    li.contacts-list__item
      a(href="tel:+380662910714" target="_blank").contacts-list__link
        + svg('contacts-list__icon','phone')
        |+380662910714

    li.contacts-list__item
      a(href="#" target="_blank").contacts-list__link
        + svg('contacts-list__icon','map_marker')
        |г.Сумы, пл. Независимости 2