section.first-sect
  .first-sect__bg
    img(src=("assets/img/water.jpg") alt="img").first-sect__bg-img

  if page != 'blog'
    .first-sect__text-layer
      img(src=("assets/img/portfolio_header.png") alt="").first-sect__text-img
  .wrapper
    .first-sect__user
      include ../components/user

    .first-sect__socials
      include ../components/socials

    .first-sect__burger
      //button.burger
      //  + svg('burger-icon', 'hamburger')
      button.toogle-menu
        span.toogle-menu__line.toogle-menu__line_top
        span.toogle-menu__line.toogle-menu__line_middle
        span.toogle-menu__line.toogle-menu__line_bottom



    a(href="#").scroll-link.scroll-link_down
      + svg('scroll-link__icon', 'arrow_down')

    include menu