section.first-sect
  .first-sect__bg
    img(src=("assets/img/water.jpg") alt="img").first-sect__bg-img

  if page != 'blog'
    .first-sect__text-layer
      img(src=("assets/img/portfolio_header.png") alt="").first-sect__text-img
  .wrapper
    .first-sect__user
      include ../components/user

    .first-sect__socials
      include ../components/socials

    .first-sect__burger
      button.toogle-menu
        span.toogle-menu__line.toogle-menu__line_top
        span.toogle-menu__line.toogle-menu__line_middle
        span.toogle-menu__line.toogle-menu__line_bottom

    .first-sect__scroll
      a(href="#").scroll-link
        + svg('scroll-link__icon', 'arrow_down')

    include menu