.footer__top
  .wrapper
    .footer-col.footer-col__left
      p
        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

    .footer-col.footer-col__center
      .footer__navigation
        include ../components/footer-nav

      .footer__socials
        include ../components/socials

    .footer-col.footer-col__right
      blockquote.footer-qote
        | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
        cite.footer-quote__source
          | — Martin Golding