form.form.form-login

  h3.block-title Авторизуйтесь

  label.field
    input(type="text" name="loogin" placeholder="Логин").field__input
    svg.field__icon.field__icon_login
      use(xlink:href="assets/img/sprite.svg#login")
    span.field__error-msg Введите логин

  label.field
    input(type="text" name="password" placeholder="Пароль").field__input
    svg.field__icon.field__icon_pas
      use(xlink:href="assets/img/sprite.svg#password")
    span.field__error-msg Введите пароль

  label.check
    input(type="checkbox" name="human").checkbox
    + svg("check__icon", "check")
    span.check__label Я человек

  .radio-gorup
    .radio-group__title Вы точно не робот?
    label.radio
      input(type="radio" name="sure").radiobox
      span.radio-label Да
    label.radio
      input(type="radio" name="sure" checked).radiobox
      span.radio-label Не уверен

  .btns-panel
    a(href="index.html").btns-panel__item.go-index На главную
    button(type="submit").btns-panel__item Войти