-
  var nav = [
    ['Мои работы', 'projects.html'],
    ['Обо мне', 'about.html'],
    ['Блог', 'blog.html'],
    ['Авторизация', 'login.html']
  ]
  var page
.menue
  .wrapper
    nav.nav
      ul.nav-list
        each link in nav
          if link[1] == page + '.html'
            li.nav-list__item
              a(href=link[1]).nav-list__link.nav-list__link_active=link[0]
          else
            li.nav-list__item
              a(href=link[1]).nav-list__link=link[0]
    button.close-menue