nav.nav
    ul.nav__list
        li.nav__item
            a(href="projects.html").nav__link Мои работы
        li.nav__item
            a(href="blog.html").nav__link Блог
        li.nav__item
            a(href="about.html").nav__link Обо мне
        li.nav__item
            a(href="login.html").nav__link Авторизация
    button.close