section.sect.reviews

  .reviews__bg
    img(src="assets/img/about_bg.png" alt="img").reviews__bg-img

  .reviews__title
    h2.sect-title(style='background-image: url("assets/img/about_header.png")')
      | Что обо мне
      br
      | говорят

  include ../components/review-list

  .reviews__form-container
    .reviews__form-bg

    include form-contact

  .reviews__scroll
    a(href="#").scroll-link.scroll-link_up
      + svg('scroll-link__icon', 'arrow_down')