ul.review-list
  li.review-list__item
    .review
      .review__pic
        img.review__img(src=("userfiles/kovalchuk.jpg") alt="img")
      .review__text
        p
          |Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      .review__author
        |Ковальчук Дмитрий
      .review__author-position
        |— основатель Loftschool

  li.review-list__item
    .review
      .review__pic
        img.review__img(src=("userfiles/sabancev.jpg") alt="img")
      .review__text
        p
          | Этот код выдержит любые испытания. Только пожалуйста, не загружаете сайт на слишком старых браузерах!
      .review__author
        | Сабанцев Владимир
      .review__author-position
        | — преподаватель
