.skills
  h3.block-title
    | Чем я могу быть
    br
    | вам полезен
  .block-text
    p
      | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
  ul.skills-group
    li.skills-group__item
      .skills-group__title Frontend
      ul.skills-list
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title HTML5

        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title CSS3

        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title JavaScript & jQuery

    li.skills-group__item
      .skills-group__title Backed
      ul.skills-list
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title PHP
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title mySQL
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title Node.js & npm

        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title Mongo.db

    li.skills-group__item
      .skills-group__title Workflow
      ul.skills-list
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title Git
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title Gulp
        li.skills-list__item
          .skill
            svg(viewBox='0 0 110 110').skill__circle.circles
              circle(r='45', cx='50%', cy='50%' ).circle__first
              circle(r='45', cx='50%', cy='50%',transform='rotate(-90 55 55)').circle__second

            .skill__title Bower