section.works
  svg(viewbox="0 0 1800 180" preserveAspectRatio="none").both-head
    polygon(points="0,180 0,0 900,180 1800,0 1800,180")

  h2.sect-title(style='background-image: url("assets/img/works_header.png")')
    | Мои работы

  .works-slider
    img(src="assets/img/slider.jpg").works-slider__img
