section.section.work-head
  svg(viewbox="0 0 1800 180" preserveAspectRatio="none").both-head
    polygon(points="0,180 0,0 900,180 1800,0 1800,180")

  h2.sect-title(style='background-image: url("assets/img/works_header.png")')
    | Мои работы

section.section.slider
  .slider__col.slider__col-left
    .slider__monitor
      img(src="assets/img/slide.png").slider__img
    .slider__info
      .slider__info-title
        h2.block-title
          |Сайт школы онлайн Образования
      .slider__info-skils
        |HTML , CSS, JAVASCRIPT
      .slider__info-btn
        a(href="#").show-link
          + svg ('show-link__icon', 'link')
          | Посмореть сайт
  .slider__col.slider__col-right
    .slider__nav-bar
      a(href="#").slider__nav.slider__nav-left
        img(src="assets/img/slide-prev.jpg").slider__nav-img
        + svg ('slider__nav-icon', 'portf_arrow_up')
      a(href="#").slider__nav.slider__nav-right
        img(src="assets/img/slide-next.jpg").slider__nav-img
        + svg ('slider__nav-icon', 'portf_arrow_down')