.about{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.about__col{
  width: 50%;
  position: relative;
  padding-bottom: 35px;
  @include desktops {
    padding: 10px 0 45px;
  }
  @include tablets{
    width: 100%;
    position: static;
    padding: 0;
  }
}
.about__triangle{
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 100%;
  @include desktops {
    height: 100px;
  }
  @include tablets{
    width: 50%;
    height: 70px;
  }
  @include phones{
    height: 30px;
  }
}
.about__col_left{
  background-color: #ebefe2;
}
.about__triangle_left{
  left: 0;
  fill:#ebefe2
}

.about__col_right{
  background-color: #f4f5f0;
}
.about__triangle_right{
  right: 0;
  fill:#f4f5f0;
  @include tablets{
    fill:#ebefe2
  }
}