.blur{
  position: relative;
  margin:0 auto;
  overflow: hidden;
  @include tablets{
    height: 900px;
  }
  @include phones{
    height: 640px;
  }
}
.blur__bg{
  width: 100%;
  min-width: 1800px;
  margin: 0 auto;
  @include tablets{
    position: absolute;
    bottom: 0;
  }

}
.blur__img{
  display: block;
  width: 100%;
}
.blur__form-wrapper{
  display: block;
  width: 380px;
  height: 470px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -245px;
  margin-left: -190px;
  @include tablets{
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
  @include phones{
    width: 95%;
  }
}
.blur__form{
  width: 100%;
  height: 100%;
  background: url("/assets/img/about_bg.png") center no-repeat;
  filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
}
