.both-head{
  display: block;
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  bottom: calc(100% - 1px);
  fill: #faf8f0;
  @include desktops{
    height: 100px;
  }
  @include tablets{
    height: 70px;
  }
  @include phones{
    height: 30px;
  }
}