.field {
  display: block;
  width: 100%;
  position: relative;
  border-radius: 22px;

  &__input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-family: "robotoregular";
    font-size: $textSize;
    color: $textColorAccent;
    border: none;
    box-shadow: none;
    background-color: #fff;
    border-radius: 22px;
    outline: none;
    @include trans();
    &:focus {
      box-shadow: inset 0 0 1px 1px $colorAccent;
      & ~ .field__icon {
        fill: $colorAccent;
      }
    }

  }

  &__input_textarea{
    display: block;
    width: 100%;
    height: 140px;
    resize: none;
    padding: 15px 20px;
  }

  &__icon {
    display: block;
    width: 18px;
    height: 18px;
    fill: $textColorAccent;
    opacity: .5;
    position: absolute;
    left: 15px;
    @include align(Y);
    @include trans();
  }

  &__error-msg {
    display: none;
    max-width: 100%;
    background-color: $errorColor;
    border-radius: 22px;
    font-size: 14px;
    color: $textColorInvert;
    text-align: center;
    white-space: nowrap;
    padding: 10px 20px;
    position: absolute;
    top: calc(100% + 10px);
    @include align(X);
    z-index: 1;
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $errorColor;
      position: absolute;
      bottom: 100%;
      @include align(X);
    }
  }
}


.is-error {
  .field__input {
    box-shadow: inset 0 0 1px 1px $errorColor;
    &:focus {
      & ~ .field__icon {
        fill: $errorColor;
      }
    }
  }
  .field__error-msg {
    display: block;
  }
  .field__icon {
    fill: $errorColor;
  }
}

