.footer-qote{
  font-size: $textSize;
  color: rgba($textColorInvert, .5);
  font-family:"robotoitalic";
  line-height:1.8;
  padding: 0;
  margin: 0;
  @include tablets{
    font-size: 14px;
  }
}
.footer-quote__source{
  display: block;
  font-family:"robotobold_italic";
}