.footer__top{
  background: rgba( $textColorAccent, .85);
  padding: 30px 0;
  .wrapper{
    display: flex;
  }
  @include tablets{
    .wrapper{
      flex-wrap: wrap;
    }
  }
  @include phones{
    padding: 0 2.5%;
  }
}
.footer-col{
  width: 33%;
  padding: 0 2.5%;
  border-right:1px solid $textColorInvert;
  &:last-child{
    border-right:none;
  }
  @include desktops{
    padding: 0 2%;
  }
  @include phones{
    padding:20px 3.125%;
    border-right:none;
    border-bottom:1px solid $textColorInvert;
    text-align: center;
    &:last-child{
      border-bottom:none;
    }
  }
}

.footer-col__left{
  font-size: $textSize;
  color: $textColorInvert;
  font-family:"robotolight";
  line-height:1.8;
  @include tablets{
    width: 50%;
    margin-bottom: 50px;
    font-size: 14px;
  }
  @include phones{
    width: 100%;
    margin-bottom: 0;
  }
}


.footer-col__center{
  @include tablets{
    width: 50%;
    border-right:none;
    margin-bottom: 50px;
  }
  @include phones{
    width: 100%;
    margin-bottom: 0;
  }
}

.footer__navigation{
  margin-bottom: 20px;
}

.footer__socials{
  .socials__link{
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
}

.footer-col__right{
  @include tablets{
    width: 100%;
  }
}