.form {
  @extend %likeForm;
  padding: 40px 20px 65px;
}


.form__title {
  color: $textColorInvert;
  &:after {
    background: $textColorInvert;
  }
}

.field {
  display: block;
  width: 100%;
  position: relative;
  border-radius: 22px;
  margin-bottom: 20px;
}

.field__input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-family: "robotoregular";
  font-size: $textSize;
  color: $textColorAccent;
  border: none;
  box-shadow: none;
  background-color: #fff;
  border-radius: 22px;
  outline: none;
  @include trans();
  &:focus {
    box-shadow: inset 0 0 1px 1px $colorAccent;
    & ~ .field__icon {
      fill: $colorAccent;
    }
  }
  ::-webkit-input-placeholder {
    font-family: "robotoregular";
    font-size: $textSize;
    color: $textColorAccent;
    opacity: .5
  }
  ::-moz-placeholder {
    font-family: "robotoregular";
    font-size: $textSize;
    color: $textColorAccent;
    opacity: .5
  }
  :-moz-placeholder {
    font-family: "robotoregular";
    font-size: $textSize;
    color: $textColorAccent;
    opacity: .5
  }
  :-ms-input-placeholder {
    font-family: "robotoregular";
    font-size: $textSize;
    color: $textColorAccent;
    opacity: .5
  }
}

.field__input_textarea{
  display: block;
  width: 100%;
  height: 140px;
  resize: none;
  padding: 15px 20px;
}

.error {
  .field__input {
    box-shadow: inset 0 0 1px 1px $errorColor;
    &:focus {
      & ~ .field__icon {
        fill: $errorColor;
      }
    }
  }
  .field__error {
    display: block;
  }
  .field__icon {
    fill: $errorColor;
  }
}

.field__icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: $textColorAccent;
  opacity: .5;
  position: absolute;
  left: 15px;
  @extend %vc;
  @include trans();
}

.field__error {
  display: none;
  max-width: 100%;
  background-color: $errorColor;
  font-size: 14px;
  color: $textColorInvert;
  padding: 10px 20px;
  position: absolute;
  top: calc(100% + 10px);
  @extend %hc;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $errorColor;
    position: absolute;
    bottom: 100%;
    @extend %hc;
  }
}

.check {
  display: inline-block;
  position: relative;
}

.checkbox {
  @extend %ibm;
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 10px;
  position: relative;
  z-index: 0;
  outline: none;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:checked {
    & ~ .check__icon {
      display: block;
    }
  }
}

.check__icon {
  display: none;
  width: 12px;
  height: 9px;
  position: absolute;
  top: 5px;
  left: 4px;
  fill: $textColorInvert;
}

.check__label {
  @extend %ibm;
  height: 13px;
  font-family: "robotoregular";
  font-size: $textSize;
  color: $textColorInvert;
  opacity: .8;
  line-height: 13px;
  user-select: none;
}

.radio-gorup {
  display: block;
  text-align: center;
}

.radio-group__title {
  @extend .check__label;
  display: block;
  margin-bottom: 20px;
}

.radio {
  @extend %ibm;
  position: relative;
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}

.radiobox {
  @extend %ibm;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  outline:none;
  position: relative;
  z-index: 0;
  &:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $textColorInvert;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: none;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    background-color: $color;
    border-radius: 50%;
    position: absolute;
    @extend %vhc;
    z-index: 1;
  }
  &:checked {
    &:after {
      display: block;
    }
  }
}

.radio-label {
  @extend .check__label
}


.form_contact{
  background: rgba(#e0e0dc, .6);
}

.form_login {
  text-align: center;
  background-color: rgba(18, 38, 32, .6);
  .block-title {
    color: $textColorInvert;
    &:after {
      background: $textColorInvert;
    }
  }
  .field {
    padding-left: 45px;
    background-color: #f0efe9;
    text-align: left;
  }
  .field__input {
    border-radius: 0 22px 22px 0;
  }
  .check {
    margin-bottom: 20px;
  }
  .btns-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

