.login-btn {
  display: block;
  width: 180px;
  height: 45px;
  border: 1px solid #fff;
  font-family: 'robotomedium';
  font-size: $textSize;
  text-decoration: none;
  color: $textColorInvert;
  @include trans();
  text-align: center;
  line-height: 45px;
  background: none;
  box-shadow: none;
  outline: none;
  border-radius: 22px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 5.555555555555556%;
  z-index: 10;
  &:hover {
    border-color: $colorAccent;
    background-color: $colorAccent;
  }

  &.is-hidden{
    opacity: 0;
    pointer-events: none;
  }

  @include tablets{
    position: relative;
    margin:20px auto;
    top: auto;
    right: auto;
  }
}