.menue{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  background-color: rgba($color, .85);
  z-index: 10;
  @include trans();
  &.is-visible{
    top:0;
  }
}
.nav-list{
  margin: 0;
  padding: 0;
  list-style:none;
}
.nav-list__item{
  display: block;
  text-align: center;
}
.nav-list__link{
  display: inline-block;
  padding: 45px 0;
  @include fz($titleSize);
  color: $textColorInvert;
  font-family:"sansus_webissimoregular";
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  &:hover{
    color: $textColorAccent;
  }
}
.close-menue{
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 30px;
  right: 30px;
  @extend %reset;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  &:before,&:after{
    content: '';
    display: block;
    width: 4px;
    height: 200%;
    background-color: $textColorInvert;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
  }
  &:before{
    left: -2px;
    transform: rotate(-45deg);
  }
  &:after{
    right: -2px;
    transform: rotate(45deg);
  }
}