.radio-gorup {
  display: block;
  text-align: center;
  .radio {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.radio-group__title {
  display: block;
  height: 13px;
  font-family: "robotoregular";
  font-size: $textSize;
  color: rgba($textColorInvert, .8);
  line-height: 13px;
  user-select: none;
  margin-bottom: 20px;
}

.radio {
  @extend %ibm;
  position: relative;
}

.radiobox {
  @extend %ibm;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  outline:none;
  position: relative;
  z-index: 0;
  &:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $textColorInvert;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: none;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    background-color: $color;
    border-radius: 50%;
    position: absolute;
    @include align(XY);
    z-index: 1;
  }
  &:checked {
    &:after {
      display: block;
    }
  }
}

.radio-label {
  @extend %ibm;
  height: 13px;
  font-family: "robotoregular";
  font-size: $textSize;
  color: rgba($textColorInvert, .8);
  line-height: 13px;
  user-select: none;
}