.review-list{
  margin: 0 0 70px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.review-list__item{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 380px;
  margin:0 10px;
}
.review{

}
.review__pic{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}
.review__img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.review__text{
  @include fz($textSize);
  color: #5d5a55;
  font-family:"robotoitalic";
  text-align: left;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative;

  &:after{
    content: '';
    display: block;
    width: 75px;
    height: 61px;
    background: url("../img/quotes.png") top left no-repeat;
    position: absolute;
    left: 0;
    top: -30px;
  }
  p{
    margin: 0;
    &+&{
      margin-top: 20px;
    }
  }
}
.review__author{
  @include fz($textSize);
  color: $colorAccent;
  font-family:"robotoregular";
  margin-bottom: 10px;
}
.review__author-position{
  @extend .review__author;
  color: $textColor;
  margin-bottom: 0;
}