.reviews{
  min-height: 1355px;
  padding-top: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.reviews__title{
  @include tablets{
    margin-bottom: 20px;
  }
}

.reviews__bg{
  min-width: 1800px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.reviews__bg-img{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.reviews__form-container{
  display: block;
  width: 100%;
  max-width: 380px;
  border-radius: 5px;
  overflow: hidden;
  margin:0 auto 70px;
  position: relative;
}
.reviews__form-bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: url("../img/about_bg.png") center no-repeat;
  filter: blur(20px);
}


.reviews__scroll{

}