.reviews{
  min-height: 1355px;
  padding-top: 20px;
  text-align: center;
  background: #f4f5f0 center bottom no-repeat;
  background: none!important;
  position: relative;
  .scroll-link_up{
    position: static;
    left: auto;
    bottom: auto;
    transform: rotate(180deg);
  }
}
.form_contact {
  margin: 0 auto;
}


.reviews__title{
  @include tablets{
    margin-bottom: 20px;
  }
}

.reviews__scroll{
  position: absolute;
  bottom: 250px;
  @include align(X);
  @include desktops{
    bottom: 350px;
  }
  @include phones{
    bottom: 50px;
  }
}