.sect-title{
  display: inline-block;
  font-size: $titleSize;
  color: $textColorAccent;
  font-family:"sansus_webissimoregular";
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 65px;
  margin: 0;
  background: center no-repeat;
  background-size:contain;
  position: relative;
  &:after {
    content: '';
    display: block;
    background: $textColorAccent;
    width: 90px;
    height: 3px;
    position: absolute;
    bottom: 20px;
    @include align(X);
  }
  @include desktops {
    &:after{
      bottom: 40px;
    }
  }
  @include tablets{
    font-size: 49px;
    &:after{
      width: 56px;
    }
  }
  @include phones{
    font-size: 35px;
  }
}