.skills{
  padding: 5px 1.944444444444444% 40px;
  @include desktops{
    padding: 0 2.5%;
  }
  @include tablets{
    padding:50px 2.5%;
    text-align: center;
  }
  @include phones{
    padding:30px 2.5%;;
  }
}
.skills-group{
  padding: 45px 0 0;
  margin: 0;
  list-style: none;
}
.skills-group__item{
  display: block;
  &+&{
    margin-top: 20px;
  }
}
.skills-group__title{
  display: block;
  color: $textColor;
  font-size: 28px;
  font-family:"robotomedium";
  @include tablets{
    font-size: 21px;
  }
}

.skills-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style:none;
  @include tablets{
    justify-content: center;
  }
  @include phones{
    justify-content: center;
  }
}
.skills-list__item{
  width: 120px;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 1.944444444444444% 0;
  @include desktops {
    width: 110px;
    height: 110px;
    margin: 20px 2.5% 0;
  }
  @include phones{
    margin: 20px 16px 0;
  }
}
.skill{
  display: block;
  position: relative;
}
.circles {
  fill: none;
  stroke-width: 15;
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  stroke: $color;
  transition: all 1s;
  @include circle(60, 0.2);
}


.skill__title{
  display: block;
  max-width: 80px;
  color: $colorAccent;
  font-size: 14px;
  font-family:"robotomedium";
  text-align: center;
  position: absolute;
  @include align(XY);
  @include tablets{
    font-size: 13px;
  }
}