.user{
  text-align: center;
}
.user__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.user__img {
  display: block;
  max-width: none;
  height: 100%;
  margin: 0 auto;
}

.user__name {
  font-family: 'robotomedium';
  margin-bottom: 10px;
  @include phones{
    font-size: 21px;
  }
  .sect-title{
    color: $textColorInvert;
    &:after{
      background-color: $textColorInvert;
    }
  }
  .block-title{
    color: $textColorInvert;
    padding-bottom: 0;
    margin-bottom: 0;
    &:after{
      display: none;

    }
  }
}

.user__descr {
  .block-text{
    color: $textColorInvert;
  }
}
