.body_welcome {
  position: relative;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .layout {
    margin-bottom: -55px;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 55px;
    }
  }
}
@media (max-height: 640px) {
  .body_welcome {
    .layout {
      min-height: 640px;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include tablets{
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}


.footer_welcome {
  width: 100%;
  min-height: 55px;
  text-align: center;
  color: $textColorInvert;
  font-size: 16px;
  font-family: 'robotoregular';
  padding-bottom: 15px;
  margin-top: 0;
  transform: none;
  .footer__bottom{
    background-color: transparent;
  }
  @include phones{
    padding-bottom: 0;
  }
}
