extends ../portfolio

block variables
  - var title = 'About me'
  - var page = 'about'
  - var user__name = 'Виталик Суханов'
  - var user__descr = 'Личный сайт веб разработчика'

block content
  include ../components/first-sect

  include ../components/about

  include ../components/sect-map